<style>
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 0px; 
  }
  table td a { 
    display: block;
  }
  table th, td {
    padding: 8px;
    text-align: left;
  }
  table td { 
    border: 0px; 
  }
  table th {
    cursor: pointer;
    border: 0px; 
  }
  /* Hover effect for table rows */
  td:hover {
    background-color: #e0e0e0;
  }
  /* Highlight header on hover */
  th:hover {
    background-color: #e0e0e0;
  }/* Search input style */
  #search-input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: none;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
 
  }

  /* Style the search input when focused */
  #search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  /* Style the search input placeholder */
  #search-input::placeholder {
    color: #999;
  }

  /* Style the search input on hover */
  #search-input:hover {
    border-color: #999;
  }
  .container { 
    width: 100%;
    display: flex;
    align-items: center;
  }
</style>

<div class="container">
  <input type="text" id="search-input" placeholder="Filter by name...">
</div>
<table id="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Word Count</th>
    </tr>
  </thead>
  <tbody>
    {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
    {% for page in pages %}
      {% assign content = page.content | markdownify | strip_html | escape_once %}
      {% assign word_count = content | replace: "\n", ' ' | split: ' ' | size %}
      <tr>
          <td><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></td>
          <td>{{ word_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script src="../js/sort-script.js"></script>
<script src="../js/filter-script.js"></script>