<head>
  <!-- Other meta tags, title, styles, etc. -->
  <script src="../js/sort-script.js"></script>
</head>

<style>
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 0px; 
  }
  table td a { 
    display: block;
  }
  table th, td {
    padding: 8px;
    text-align: left;
  }
  table td { 
    border: 0px; 
  }
  table th {
    cursor: pointer;
    border: 0px; 
  }
  /* Hover effect for table rows */
  td:hover {
    background-color: #e0e0e0;
  }
  /* Highlight header on hover */
  th:hover {
    background-color: #e0e0e0;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Word Count</th>
    </tr>
  </thead>
  <tbody>
    {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
    {% for page in pages %}
      {% assign content = page.content | markdownify | strip_html | escape_once %}
      {% assign word_count = content | replace: "\n", ' ' | split: ' ' | size %}
      <tr>
          <td><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></td>
          <td>{{ word_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
