<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 5px 0;
  }

  /* Style the outer list item */
  li:first-child {
    column-count: 3; /* Number of columns */
    column-gap: 20px; /* Adjust the gap between columns */
    max-height: 100%; /* Adjust the max height as needed */
    overflow-y: auto; /* Add a scrollbar when content overflows */
  }

  /* Style the nested list */
  li > ul {
    padding-left: 20px; /* Indent the nested list */
  }

  /* Style the nested list items */
  li > ul > li {
    margin: 5px 0;
  }
</style>

<ul>
    <li>
        <ul>
        {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
        {% for page in pages %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    </li>
</ul>