<head>
    <title>Greek</title>
    <link rel="stylesheet" href="/css/studytools.css">
    <script src="/js/greek.js" defer></script>
    <style>
        #greekVerse {
            font-size: 30px;
            margin-bottom: 20px;
            color: #000000;
        }
        #greekVerseRef {
            font-size: 30px;
            margin-bottom: 20px;
            color: #000000;
        }
        .select {
            margin-bottom: 10px;
        }
    </style>
</head>

<select id="textSelector">
    <option value="Ephesians 1">Ephesians 1</option>
</select>
<select id="grammarSelector">
    <option value="Participles">Participles</option>
</select>
<div class="container">
    <div id="mainDisplay">
        <p id="greekVerseRef"></p>
        <p id="greekVerse"></p>
    </div>
</div>